.icon {
  margin-right: rem(3px);
  color: light-dark(var(--mantine-color-gray-5), var(--mantine-color-dark-1));
  height: rem(18);
  width: rem(18);
  stroke-width: 2;
}

.icon.primary {
  color: light-dark(var(--mantine-primary-color-6), var(--mantine-primary-color-3));
}
