.icon {
  width: rem(32);
  height: rem(32);
  stroke-width: 1.5;
}

.link {
  text-decoration: none;
  color: var(--mantine-color-dimmed);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.active {
  color: black;

  @mixin dark {
    color: white;
  }
}
