.carderror {
  border: 1px solid var(--mantine-color-error);
}

.draggable {
  transition: scale ease-in-out 200ms;
  scale: 1;
}

.dragging {
  scale: 1.08;
}

.icon {
  margin-right: rem(3px);
  color: light-dark(var(--mantine-color-gray-5), var(--mantine-color-dark-1));
  height: rem(18);
  width: rem(18);
  stroke-width: 2;
}

.icon.primary {
  color: light-dark(var(--mantine-primary-color-6), var(--mantine-primary-color-3));
}

/* .action {
  background-color: alpha(var(--mantine-color-body), 0.6);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-top: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
} */
